$color-title: #0460F5
$color-highlight: #0460F5
$color-bg: #FFF9EF
$color-bg-2: #FFFFFF
$color-text: #2B2B2B
$color-bg-admin: aliceblue

$color-title-dark: #4ce3ce
$color-highlight-dark: #4ce3ce
$color-bg-dark: #202226
$color-bg-dark-2: #191A1C
$color-text-dark: #f0f0f0
$color-bg-modal-dark: #FFFFFF

.page-enter-active, .page-leave-active
  transition: all .4s
.page-enter,.page-leave-to
  opacity: 0
  transform: translateX(50px)

.fade-in
  opacity: 0
  -webkit-animation: fadeIn ease 1
  -moz-animation: fadeIn ease 1
  animation: fadeIn ease 1

  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards

  -webkit-animation-duration: 0.4s
  -moz-animation-duration: 0.4s
  animation-duration: 0.4s

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.fade-in-left
  opacity: 0
  -webkit-animation: fadeInLeft ease 1
  -moz-animation: fadeInLeft ease 1
  animation: fadeInLeft ease 1

  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards

  -webkit-animation-duration: 0.4s
  -moz-animation-duration: 0.4s
  animation-duration: 0.4s

@keyframes fadeInLeft
  from
    opacity: 0
    transform: translateX(20px)
  to
    opacity: 1
    transform: translateX(0px)

.fade-up
  opacity: 0
  -webkit-animation: fadeUp ease 1
  -moz-animation: fadeUp ease 1
  animation: fadeUp ease 1

  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards

  -webkit-animation-duration: 0.4s
  -moz-animation-duration: 0.4s
  animation-duration: 0.4s

.fade-in.one, .fade-up.one
  -webkit-animation-delay: 0.2s
  -moz-animation-delay: 0.2s
  animation-delay: 0.2s

.fade-in.two, .fade-up.two
  -webkit-animation-delay: 0.4s
  -moz-animation-delay: 0.4s
  animation-delay: 0.4s

.fade-in.three, .fade-up.three
  -webkit-animation-delay: .6s
  -moz-animation-delay: .6s
  animation-delay: .6s

@keyframes fadeUp
  from
    opacity: 0
    transform: translateY(20px)
  to
    opacity: 1
    transform: translateY(0px)