@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900|Ubuntu+Mono:400,700');
body {
  font-family: 'Nunito', sans-serif;
}
.main section article .container-properties h5,
.main section article .container-returns h5,
.main section article .container-params h5,
.main section article table th,
.main section article table td.type,
.main section article table td.attributes {
  font-family: 'Nunito', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  color: #47a5ee;
}
p {
  font-size: 14px;
}
code,
kbd,
pre,
samp {
  font-family: 'Ubuntu Mono', monospace !important;
  font-size: 14px !important;
}
pre {
  border: none;
  background-color: #f8f8f8;
}
.readme h1,
.readme h2,
.readme h3,
.readme h4 {
  border: none;
}
.readme h1 {
  color: #666666;
}
header h2 {
  color: #666666;
}
header .class-description {
  margin: 3em 0em;
  padding: 2em 1em 1em 1em;
  border-radius: 5px;
  background-color: #eff7ff;
}
.lnb {
  background-color: #f8f8f8;
  -webkit-box-shadow: 10px 10px 44px -15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 44px -15px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 44px -15px rgba(0, 0, 0, 0.25);
}
.lnb .title {
  /* text-align: left; */
  font-style: inherit;
  font-size: 0.7em;
}
.lnb .title h1 {
  margin-top: 0;
}
.lnb h3 {
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
}
.lnb .title .link {
  color: #666666;
  font-style: normal;
  font-size: 0.4em;
  font-weight: bold;
}
.lnb .lnb-api a,
.lnb .lnb-examples a {
  color: #333333;
}
.lnb .lnb-api a:hover,
.lnb .lnb-examples a:hover {
  color: #47a5ee;
}
.lnb .inner a {
  color: #47a5ee;
}
.lnb .inner a:hover {
  color: #47a5ee;
}
.lnb .lnb-api {
  font-size: 14px;
}
.lnb .member-type {
  font-size: 10px;
  color: #666666;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
.lnb .lnb-api li,
.lnb .lnb-examples li {
  border: none;
}

.search-container input {
  color: #aaaaaa;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 44px -15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 10px 44px -15px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 44px -15px rgba(0, 0, 0, 0.5);
}
.search-container ul {
  opacity: 1;
  border: none;
  background-color: #ffffff;
  border: none;
  z-index: 100;
}
.search-container a {
  color: #333333;
}
.search-container ul li {
  padding: 10px 0px 10px 10px;
  border-bottom: 1px dashed #eeeeee;
}
.search-container ul li:hover,
.search-container ul li.highlight {
  background-color: #eff7ff;
}
.search-container ul li:hover .group,
.search-container ul li.highlight .group {
  color: #666666;
}
.search-container ul li:hover strong,
.search-container ul li.highlight strong {
  color: #47a5ee;
}
.search-container strong {
  color: #47a5ee;
}
#resizer {
  width: 7px;
  background-color: #ffffff;
}
.main section header {
  border-bottom: 1px dashed #dddddd;
}
.main section header h2 {
  font-size: 2em;
  font-weight: normal;
  border-left: none;
}
.main section article dl dd {
  padding: 0px 10px;
  margin-top: -10px;
}

.main section article table,
.main section article table th,
.main section article table td {
  padding: 0.2em 2em;
}
.main section article h3.subsection-title {
  color: #333333;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  border-bottom: none;
}
.main section article dl dt .name {
  font-family: 'Ubuntu Mono', monospace;
  padding: 0.5em;
  background-color: inherit;
}
.main section article dl h4 {
  font-size: 16px;
  font-weight: 400;
}
.main section article dl h4 .signature {
  font-size: 12pt;
  padding-left: 5px;
}
.main section article dl dd h5,
.main section article dl dd .container-params h5 {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  margin-top: 2em;
}
.main section article dl dd table,
.main section article .container-params table {
  border: 1px solid #dddddd;
  margin-left: 0px;
}
.main section article dl dd table tr,
.main section article .container-params table tr {
  border-top: 1px solid #dddddd;
  line-height: 3em;
  color: #666666;
}
.main section article table th {
  padding: 1em 2em;
  color: #333333;
}
.lnb .lnb-api li,
.lnb .lnb-examples li tr {
  line-height: 2em;
}
footer {
  background-color: #f8f8f8;
  color: #666666;
}
footer img {
  display: none;
}
